*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  color: white;
  font-family: 'Nunito', sans-serif;
  background-size: 100%;
 /* background-image:-webkit-linear-gradient(top, rgba(17,2,49,0.75), rgba(17,2,49,0)),
  -webkit-linear-gradient(bottom left, #eb6670, #f67f7c, #f9ac97, #f1b79f, #e1bea7, #c3bcb0, #8aabb2, #4e95b2, #2588b6);
*/
  background: -webkit-linear-gradient(45deg, #7b4397 10%, #dc2430 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(45deg, #7b4397 10%, #dc2430 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(45deg, #7b4397 10%, #dc2430 90%); /* IE10 */
  background:      -o-linear-gradient(45deg, #7b4397 10%, #dc2430 90%); /* Opera 11.10+ */
  background:         linear-gradient(45deg, #7b4397 10%, #dc2430 90%); /* W3C */

}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
    animation-name: shake;
}

#wrapper {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button, #feelingWrapper a {
  padding: 19px 39px 18px 39px;
  color: #333;
  background-color: #fff;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  /*border: 1px solid #3ac162;*/
  /*border-width: 1px 1px 3px;*/
  /*box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;*/
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

#feelingWrapper {}
  #feelingWrapper a {display: inline-block; width: 32%; text-align: center; padding-left: 0px; padding: 80px 0 10px 0; line-height: 24px; text-decoration: none; font-size: 14px; background-size: contain; background-repeat: no-repeat; background-position: center 10px, top left; -webkit-tap-highlight-color: rgba(0,0,0,0);}
    #better { background: url('../better.png'); }
    #average { background: url('../average.png'); }
    #worse { background: url('../worse.png'); }

    #better.on { background-image: url('../better-over.png'), linear-gradient(to bottom, #ff4b61, #cf283d); color: #fff;}
    #average.on { background-image: url('../average-over.png'), linear-gradient(to bottom, #ff4b61, #cf283d); color: #fff;}
    #worse.on { background-image: url('../worse-over.png'), linear-gradient(to bottom, #ff4b61, #cf283d); color: #fff;}

label.error {color: yellow;}
input.error {border: solid 1px yellow;}

#logbook {background: #1b2a39;}
#logbook #wrapper {max-width: 100%; padding-right: 0px; padding-left: 0px;}

ul {padding: 0px 0px; margin: 0px;}
  li {border-top: solid 1px #1b2a39; border-bottom: solid 1px #1b2a39; line-height: 65px; padding: 0 10px;}

  .dateSeparator {
    background: #007fb2;
    overflow: hidden;
    position: relative;
  }

  .dateSeparator:before {
      content: '';
      width: 2px;
      height: 50%;
      position: absolute;
      bottom: 0px;
      left: 31px;
      background: #005d82;
      z-index: 1;
    }

    .dateSeparator div {float: left;}
    .dateBox { background: #005d82; width: 45px; height: 45px; color: #fff; border-radius: 45px; display: flex; flex-direction: column; justify-content: center; margin-top: 8px; position: relative; z-index: 2}
      .dateBox span { display: block; font-size: 12px; line-height: 12px; text-align: center;}
      .dateBox span:first-child {font-size: 16px;}
    .dayBox { font-size: 18px; font-weight: 100; margin-left: 15px;}
    div.records { float: right; font-size: 12px; opacity: 0.8; margin-right: 10px;}


  .log { background: #202f3f; position: relative;}
  .log div {float: left;}

    .emotion { width: 45px; height: 45px; color: #fff; border-radius: 45px; border: solid 2px #22a35a; margin-top: 8px; background-size: contain; background-repeat: no-repeat; background-position: 0 3px; position: relative; z-index: 2;}

    .log:before {
      content: '';
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 31px;
      background: #22a35a;
      z-index: 1;
    }

      .log.average:before {background: #207645;}
      .log.better:before {background: #22a35a;}
      .log.worse:before {background: #ce5144;}

      .log.worse {background: none;}

    .log:last-child:before {
      content: '';
      width: 2px;
      height: 50%;
      position: absolute;
      top: 0px;
      left: 31px;
      background: #22a35a;
      z-index: 1;
    }
      .emotion.average { background-image: url('../average.png'); background-color: #207645; border-color: #207645;}
      .emotion.better {background-image: url('../better.png'); background-color: #22a35a; border-color: #22a35a;}
      .emotion.worse { background-image: url('../worse.png'); background-color: #ce5144; border-color: #ce5144;}

    .sugar { font-size: 20px; font-weight: bold; letter-spacing: -1px; margin-left: 20px; }
    div.time { float: right; margin-right: 10px; font-size: 12px; opacity: 0.9; }
